APP_NAME=AngryBills
FLASK_CONFIG=development
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DATABASE=postgresql

MAIL_SERVER=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USE_TLS=1
MAIL_USE_SSL=0
MAIL_USERNAME=xxxx@xxx.com
MAIL_PASSWORD=xxxxxxxxxxxxx
MAIL_DEFAULT_SENDER=xxxxxx@xxxxx.net

ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=admin123

# DATABASE_URL=sqlite://data-dev.sqlite
REDIS_URL=http://localhost:6379
RAYGUN_API_KEY=xxxxxxxxxxxxxxx

POSTGRES_URL=127.0.0.1:5432
POSTGRES_DB=garage48banking
POSTGRES_USER=testuser
POSTGRES_PW=testuser
