{% extends 'layouts/base.html' %}
{% import 'macros/page_macros.html' as page %}

{% block content %}
  <div class="ui text container">
    <h1>Add payment</h1>
    <form action="/payment/add">
      {# TODO: Show account statement where user can select particular transaction #}
      {# TODO: Add field for transaction class #}

      {% for transaction in transactions %}
        {{ transaction }}<br>
{#        [{'': 11, 'transactionAmount': 11, 'transactionCurrency': 'EUR', 'bookdate': '2018-02-17', 'creditOrDebit': 'debit', 'structuredReference': None, 'unstructuredReference': 'test payment', 'counterPartyAccount': 'EE581010010607110014', 'counterPartyName': 'Test user', 'counterPartyLegalId': None, 'instructionId': None, 'entToEndId': 'xxxxxxxxxxxxMxxxNxxxxxxxxxxxxxxx'}, {'accountAmount': 11, 'transaction#}
      {% endfor %}
    </form>
  </div>

  {#  <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>#}
{% endblock %}
