{% extends 'layouts/base.html' %}
{% import 'macros/page_macros.html' as page %}

{% block content %}
  <div class="ui text container">
    <h1>Add payment</h1>

    <form action="{{ url_for('main.add_expense') }}" method="post"
          enctype="multipart/form-data"
          class="ui form"
        {# onsubmit="return validateForm()"#}
    >
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

      <h2>Step #1. Select a transaction</h2>
      <table id="transactions" class="ui celled table" width="100%">
        <thead>
        <tr class="center aligned">
          <th></th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Date</th>
          <th>Party name</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
          <tr data-bookdate="{{ transaction["bookdate"] }}"
              data-endtoendid="{{ transaction["entToEndId"] }}"
              data-transaction-amount="{{ transaction["transactionAmount"] }}"
              data-transaction-currency="{{ transaction["transactionCurrency"] }}"
              data-counter-party-account="{{ transaction["counterPartyAccount"] }}"
              data-unstructured-reference="{{ transaction["unstructuredReference"] }}"
              data-structured-reference="{{ transaction["structuredReference"] }}"
              data-counter-party-name="{{ transaction["counterPartyName"] }}">
            <td class="center aligned">{{ loop.index0 + 1 }}</td>
            <td class="center aligned">{{ transaction["transactionAmount"] }}</td>
            <td class="center aligned">{{ transaction["transactionCurrency"] }}</td>
            <td class="center aligned">{{ transaction["bookdate"] }}</td>
            <td>{{ transaction["counterPartyName"] }}</td>
            <td>{{ transaction["unstructuredReference"] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <h2>Step #2. Label your expense</h2>
      <div class="inline fields">
        <div class="field">
          <input type="radio" name="expense_type" value="transport" checked="checked">
          <img src="../../static/label_images/transport.png" class="expense-type selected">
        </div>
        <div class="field">
          <input type="radio" name="expense_type" value="meal">
          <img src="../../static/label_images/meals.png" class="expense-type">
        </div>
        <div class="field">
          <input type="radio" name="expense_type" value="accommodation">
          <img src="../../static/label_images/accommodation.png" class="expense-type">
        </div>
        <div class="field">
          <input type="radio" name="expense_type" value="corporate">
          <img src="../../static/label_images/corporate.png" class="expense-type">
        </div>
      </div>

      <h2>Step #3. Upload photo of receipt</h2>
      <div class="ui middle aligned grid container" style="margin-top: 0">
        <div class="ui fluid segment">
          <input type="file" name="photo" id="upload-photo" class="inputfile" style="display: none;"/>

          <label class="ui big teal right floated button">
            <i class="ui upload icon"></i>Take picture
          </label>
          <label for="upload-photo" class="ui big teal right floated button">
            <i class="ui upload icon"></i> Upload photo
          </label>
        </div>
      </div>

      <h2>Step #4. Additional information</h2>
      <div class="field">
        {# <label for="additional-information">Additional information</label>#}
        <textarea rows="2" name="comments" id="comments"
                  placeholder="Write some additional comments here..."></textarea>
      </div>

      <input type="hidden" name="amount"/>
      <input type="hidden" name="seb_payment_date"/>
      <input type="hidden" name="seb_endToEndId"/>
      <input type="hidden" name="seb_transactionCurrency"/>
      <input type="hidden" name="seb_counterPartyAccount"/>
      <input type="hidden" name="seb_unstructuredReference"/>
      <input type="hidden" name="seb_structuredReference"/>
      <input type="hidden" name="seb_counterPartyName"/>

      <button type="submit" class="ui green button huge">Request Refund!</button>
    </form>
  </div>

  <style>
    input[name="expense_type"] {
      display: none !important;
    }

    img.expense-type {
      padding: 10px;
    }

    img.expense-type.selected {
      padding: 10px;
      background: #00b5ad0f;
      border: 1px solid #00000061;
    }
  </style>

  <script>
      function validateForm() {
          var a = document.forms["Form"]["expenseType"].value;
          if (a == null || a == "") {
              alert("Please choose the expense type");
              return false;
          }
      }

      $('#transactions tbody tr').on('click', function (e) {
          var tr = $(this),
              amount = tr.data('transaction-amount'),
              bookdate = tr.data('bookdate'),
              endToEndId = tr.data('endtoendid'),
              transactionCurrency = tr.data('transaction-currency'),
              counterPartyAccount = tr.data('counter-party-account'),
              unstructuredReference = tr.data('unstructured-reference'),
              structuredReference = tr.data('structured-reference'),
              counterPartyName = tr.data('counter-party-name');

          $('#transactions tr').css("background-color", 'white').css('color', 'black');

          tr.css('background-color', 'rgb(0, 181, 173)').css('color', 'white');

          $('input[name="amount"]').val(amount);
          $('input[name="seb_payment_date"]').val(bookdate);
          $('input[name="seb_endToEndId"]').val(endToEndId);
          $('input[name="seb_transactionCurrency"]').val(transactionCurrency);
          $('input[name="seb_counterPartyAccount"]').val(counterPartyAccount);
          $('input[name="seb_unstructuredReference"]').val(unstructuredReference);
          $('input[name="seb_structuredReference"]').val(structuredReference);
          $('input[name="seb_counterPartyName"]').val(counterPartyName);
      });

      $('img.expense-type').click(function (e) {
          $('img.expense-type.selected').removeClass('selected');

          $(this).addClass('selected');

          $(this).siblings('input[name="expense_type"]').prop('checked', 'checked');
      });
  </script>
{% endblock %}
