{% extends 'layouts/base.html' %}
{% import 'macros/page_macros.html' as page %}

{% block content %}
  <div class="ui text container">
    <h1>Send expense to employer</h1>
    <form action="/payment/commit">
      {# TODO: Show transaction information. User can send the transaction to the employer  #}
      {# TODO: Add field for transaction class #}
        <label>Payment ID</label>
        <label>Amount</label>
        <input type="radio" name="expenseType" value="Food" />
        <input type="radio" name="expenseType" value="Transport" />
        <input type="radio" name="expenseType" value="Guest" />
        <input type="radio" name="expenseType" value="Other" />
    </form>
  </div>

  {#  <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>#}
{% endblock %}
